[submodule "hhh-contracts-service"]
	path = hhh-contracts-service
	url = https://github.com/Hexadian-Corporation/hhh-contracts-service.git
[submodule "hhh-ships-service"]
	path = hhh-ships-service
	url = https://github.com/Hexadian-Corporation/hhh-ships-service.git
[submodule "hhh-maps-service"]
	path = hhh-maps-service
	url = https://github.com/Hexadian-Corporation/hhh-maps-service.git
[submodule "hhh-graphs-service"]
	path = hhh-graphs-service
	url = https://github.com/Hexadian-Corporation/hhh-graphs-service.git
[submodule "hhh-routes-service"]
	path = hhh-routes-service
	url = https://github.com/Hexadian-Corporation/hhh-routes-service.git
[submodule "hhh-auth-service"]
	path = hhh-auth-service
	url = https://github.com/Hexadian-Corporation/hhh-auth-service.git
[submodule "hhh-frontend"]
	path = hhh-frontend
	url = https://github.com/Hexadian-Corporation/hhh-frontend.git
[submodule "hhh-backoffice-frontend"]
	path = hhh-backoffice-frontend
	url = https://github.com/Hexadian-Corporation/hhh-backoffice-frontend.git
